* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

header,
main,
footer,
nav,
aside,
section {
    display: block;
}

body {
    width: 100%;
    overflow-x: hidden;

}

li>a {
    color: #555555;
    text-decoration: none;
}

#editButton {
    color: #555555;
    background-color: #f8f9fa;
}

#addCommentDesktop {
    margin-top: 5px;
    border: none;
    width: 100%;
}

.btn.btn-secondary.dropdown-toggle.commnetDropdown {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #555555;
    border: none;
    font-size: 14px;
}

.btn.btn-secondary.dropdown-toggle.commnetDropdown::after {
    background: url(../images/sortSearchComment.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
}

.dropdown-menu.commentSortList {
    padding-bottom: 5px;
    padding-top: 5px;
    border: 0;
}

.dropdown-item.commentItem:hover {
    color: #bd362f;
}

.dropdown-item.commentItem:active {
    background-color: #bd362f;
    color: white;
}

#oldForm>li,
#newForm>li {
    width: 100%;
}


.dropdown-menu.commentSortList>li {
    margin: 0;
}

#addComment>input {
    width: 100%;
    border: 0;
}

input:focus {
    outline: none;
}

#addComment>button {
    background-color: white;
}

#addComment {
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}


.rightCommentSection {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.commentSection {
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.leftCommentSectionLine {
    align-items: center;
    display: flex;
}

.leftCommentSectionLine section {
    align-items: center;
    display: flex;
}

.leftCommentSection {
    width: 100%;
}

.leftCommentSection .leftCommentSectionLine {
    border-bottom: 2px solid #555555;
    width: 100%;
    height: 30%;
}

.leftCommentSectionText1Icon {
    margin-left: 3px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #bd362f;
}

#commentMobileExpandButton {
    margin-left: 3px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 14px solid #bd362f;
}


#dropCommentsMobile {
    margin-left: 20px;
}

.leftCommentSectionDown {
    display: flex;
    margin: 10px 0px 20px 0px;
    align-items: center;
}

.leftCommentSectionDown span {
    font-weight: normal;
    margin-left: 5px;
}

.leftCommentSectionText2Icon {
    margin-left: 8px;
}

.leftCommentSectionText2 {
    margin-left: 10px;
}

.rightCommentSection span {
    text-align: center;
}

#formHeader {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

}

#navbar2 {
    display: none;
}

.mobileHeader {
    display: none
}

#mobileNav {
    display: none;
}

.body-con {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row;
    background-color: #eeeeee;
}

.sideLinks:hover {
    color: #bd362f;
}

.breadCrumbsLinks {
    text-decoration: none;
    color: #555555;
}

.breadCrumbsLinks:hover {
    color: #bd362f;
}

.breadCrumbsLinks.selectedBreadCrumbs {
    color: #bd362f;
}

.breadCrumbs {
    position: absolute;
    font-size: 12px;
    top: 100px;
    left: 258px;
}

.breadCrumbsNoneSideBar {
    position: absolute;
    font-size: 12px;
    top: 100px;
    left: 65px;
}

/*---------------------------------------------*/
/* header */

header {
    height: 100%;
}

#headerRight {
    width: 100%;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    position: relative;
}

#headerRight::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.formTitle {
    font-size: 24px;
    font-weight: bold;
    padding: 60px 60px 0px 60px;
}

button {
    border: 0px;
}

.searchText {
    font-size: 14px;
    color: #777777;
    margin-left: 20px;
    font-weight: 100;
}

#headerContainer {
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    z-index: 1;
}

nav {
    height: 80px;
}

#navbar {
    height: 80px;
    padding: 0;
}

#navbarLogin {
    display: flex;
    justify-content: space-between;
}

.navContainer {
    display: flex;
    height: 100%;
    align-items: center;
}

#logo,
#logoExpanded {
    width: 213px;
}

#logoExpanded {

    display: none;
}

#searchBar1,
#searchBar2 {
    display: flex;
}

#searchBar2 {
    width: 60%;
}

.leftSearchBar {
    width: 294px;
    height: 32px;
    background-color: #eeeeee;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    align-items: center;
}

.btn.btn-outline-secondary {
    border-color: #dee2e6;
}

.btn.btn-outline-secondary:hover {
    background-color: #bd362f;
    border: 0px
}

#inputSearch1:focus {
    border-color: #dee2e6;
    box-shadow: none;
}

#inputSearch2:focus {
    border-color: #dee2e6;
    box-shadow: none;
}

#search1,
#search2 {
    display: block;
    width: 15px;
    margin-left: 3px;
}


#sortIconImageMobile,
#sortIconImageDesktop {
    width: 30px;
    display: block;
}



#shenkarLogoImage {
    width: 137px;
}

.rightHeaderLinks {
    display: flex;
    position: absolute;
    right: 23px;
}

#ranProfile,
#shenkarLogo,
#notification,
#settings {
    display: flex;
    align-items: center;
}

#ranProfile {
    margin-left: 6px;
}

#notification {
    margin-left: 10px;
}

#notificationImage {
    width: 35px;
}

#settingsImage {
    width: 35px;
}

.ranProfileImage {
    width: 35px;
}

.projectContainer {
    display: flex;
    flex-flow: column;
    background-color: #eeeeee;
    padding: 25px;
    border-radius: 10px;
}


#desktopNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* side */

.sideBar {
    margin-top: 80px;
    height: 100%;
    width: 209px;
    background-color: #f8f9fa;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.indexViewButton,
.addProjectButton,
.editButton,
.deleteProjectButton,
.allProjectButton {
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.editButton {
    background-color: #f8f9fa;
}

li {
    margin-bottom: 10px;
    color: #555555;
    font-size: 14px;
}

.triangle-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.triangle-list li::before {
    content: "●";
    display: inline-block;
    width: 0.7em;
    height: 0.6em;
    margin-right: 0.5em;
    font-size: 1em;
    color: #bd362f;
}

.viewImage,
.addImage,
.editImage {
    width: 15px;
}

.viewImageList {
    margin-left: 83px;
}

.viewImage {
    margin-left: 175px;
}

.starsListSec {
    margin-bottom: 5px;
}

.StarCn {
    display: flex;
}

.addImage {
    margin-left: 76px;
}

.editImage {
    margin-left: 78px;
}

.deleteImage {
    margin-left: 60px;
}

.favImage {
    margin-left: 91px;
    width: 18px;
}

.recImage {
    margin-left: 106px;
    width: 18px;
}

.underLineChoise {
    width: 190px;
    height: 2px;
    background-color: #555555;
}

#deletePostButton {
    border: none;
    background-color: #bd362f;
}

#deletePostButton:hover,
#deletePostButton:focus {
    background-color: #ed1c24;
}

/*---------------------------------------------*/
/* gridBody */

.body-con {
    display: flex;
    flex-flow: row;
}

.projectsBody {
    margin-left: 209px;
    margin-top: 80px;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    background-color: #f8f9fa;
}

.gridBody {
    margin-top: 80px;
}

.rowS {
    width: 100%;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row {
    margin-bottom: 70px;
}

.projectImages {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    background-color: white;
    object-fit: contain;
}

.projectName {
    margin-top: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #555555;

}

.projectNameView {
    font-size: 42px;
    margin: 0;
}

.ProjectRivew {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    display: flex;
    margin-top: 20px;
}

.ProjectRivew2 {
    display: none;

}

span {
    font-weight: bold;
    color: #555555;
    font-size: 14px;
}

.col,
.colS {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    justify-content: center;
}

.col {
    align-items: center;
}

#leftColS {
    margin-right: 5px;
}

#rightColS {
    margin-left: 5px;
}

.underlineProject {
    width: 100%;
    height: 2.5px;
    background-color: #555555;
}

/*---------------------------------------------*/
/* gridBody */



.checkText {
    color: black;
}

.pForm {
    margin: 5px;
}

.LeftSide {
    height: 100%;
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 25px;

}

.RightSide {
    height: 100%;
    width: 50%;
    margin-top: 100px;
    margin-left: 25px;
}

.RedLine {
    width: 400px;
    height: 5px;
    color: #bd362f;
    background-color: #bd362f;
}

.GreyLine {
    width: 388px;
    height: 2px;
    margin-left: 65px;
    color: #555555;
    background-color: #555555;
}

.WhiteBox {
    width: 400px;
    background-color: white;
    overflow: auto;
    min-height: 150px;
    max-height: 200px;
}

.ScrollableContent {
    padding: 10px;
    height: 100%;
}



.requirements {
    display: flex;
    align-items: center;
    flex-flow: row;
    max-height: fit-content;
    align-items: end;
    margin-top: 10px;
    gap: 10px;
}



.Example {
    display: flex;
    flex-flow: row;

}

.Example>ul {
    padding: 0px;
    margin: 0px;

}

.Example>ul>li {
    display: flex;
    flex-flow: row;
}

.Eyes {
    height: 180px;
    width: 50px;
}

.Eyes img {
    margin-top: 8.5px;
}

.bottomLefSide {
    width: 500px;
    height: 100px;
    align-items: center;
    margin-top: 10px;
}

.dots::after {
    content: "...........................................";
    margin-left: 22px;
}

.ranProfileImage2 {
    height: 43px;
    width: 43px;
    vertical-align: middle;
}

.formRatingDesktop {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.star {
    margin-left: 5px;
    height: 37px;
    width: 37px;
}

.SortImage {
    height: 23px;
    width: 23px;
    vertical-align: middle;

}

.Txt {
    display: flex;
    flex-flow: column;

}

.comments {
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: -40px;
}

.PlayButtonImage {
    height: 30px;
    width: 30px;
    margin: 10px;
    margin-top: 0;
}

.FileLogoSrs {
    height: 20px;
    width: 20px;
}

.FileLogo {
    height: 20px;
    width: 20px;
    margin: 10px;
    margin-top: 0;
}

.FileLogoSmall {
    height: 18px;
    width: 18px;
    margin-left: 40px;
}

#commentSecList {
    width: 500px;
}

.stars {
    height: 15px;
    width: 15px;
}


.FileLogo2 {
    height: 14px;
    width: 14px;
    margin-top: 3px;
}

.bottns {
    display: flex;
    flex-flow: column;
    gap: 5px;

}

section .btn.btn-primary.indecViewTitleButton,
.btn.btn-primary.shareButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 50px;
    height: 36px;
    background-color: #bd362f;
    border: none;
}

section .btn.btn-primary.indecViewTitleButton.active,
.btn.btn-primary.shareButton:hover {
    background-color: #ed1c24;
    animation: glowing 3s infinite;
    box-shadow: none;
    outline: none;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    }

    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    }
}

.Rating {
    width: 100%;
    color: #555555;

}

.bottomRightSide {
    width: 100%;
    margin-top: 65px;

}

.RedlineRigthSide {
    height: 3px;
    width: 250px;
    background-color: #bd362f;
}

.RedDot {
    width: 10px;
    height: 10px;
    background-color: #bd362f;
    border-radius: 10px;
    margin-top: 5px;

}

.participant1 {
    height: 32px;
    width: 204px;
    margin-top: 10px;
    color: #555555;
    display: flex;
    flex-flow: row;

}

.participant2 {
    height: 32px;
    width: 204px;
    margin-top: 5px;
    color: #555555;
    display: flex;
    flex-flow: row;


}

.number {
    font-size: 30px;
}

.firstname {
    height: 10px;
    width: 100%;
    margin-left: 15px;
    margin-top: 2.5px;
}

.comments {
    display: flex;
}

.sortText {
    display: flex;
}

#inputGroupFile01 {
    z-index: 0;
}

.View-con {
    height: fit-content;
    width: 100%;
    min-height: 110vh;
    display: flex;
    margin-left: 209px;
    margin-top: 81px;
    justify-content: center;
    background-color: #eeeeee;
}

.projectNameTitleView {
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 10px;
    width: 400px;
    color: #555555;
}




.ProjectD {
    display: none;
}

.GreyLine2 {
    display: none;
}

.coomnets {

    display: none;

}

.middle {
    margin-left: 10%;
    align-items: center;
    justify-content: center;
}

.mobileBody {
    display: none;
}



.FontCm {
    color: black;
    display: flex;
}

.body-conForm {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 80px;
}

.body-conForm.login {
    display: flex;
    justify-content: center;
}

.formContainer {
    width: 100%;
    min-height: 100vh;
    padding: 10px 60px 60px 60px;
}

form {
    display: flex;
}

#fileInputContainer {
    width: 95%;
}

.fileContainer {
    display: flex;
    flex-flow: column;
    margin-bottom: 0;
    align-items: center;
    background-color: white;
    border: 2px dashed #777777;
    border-radius: var(--bs-border-radius);
    ;
}

.input-group {
    width: 95%;
}

#fileListContainer {
    margin-left: 12px;
    background-color: white;
    width: 95%;
}

.remove-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 25px;
    background-image: url(../images/remove-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.leftSide {
    width: 50%;
    margin-right: 25px;
}

.rightSide {
    width: 50%;
    margin-left: 25px;
}

.formInfo1 {
    width: 100vw;
}


.formInfo1Line1,
.formInfo1Line2,
.formInfo1Line3 {
    width: 100%;
    display: flex;
}

.mb-3.formInfo {
    width: 50%;
}

.mb-3 {
    margin-bottom: 0px;
    margin: 10px;
}

.form-control.fileInput {
    border: 2px dashed #777777;
}


.ProjectDes {
    resize: none;
}

.ProjectFilesRules {
    font-size: 14px;
}

.moqupsUrl,
.basic-url {
    position: unset;
    z-index: 0;
}

#inputGroupFile01:focus {
    border-color: #bd362f;
    box-shadow: 1px 0 5px rgba(189, 54, 47, 1);
}

.fileInputText {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    width: 95%;
}

.Srs {
    margin-left: 10px;
}

.form-control.inputForm:focus {
    border-color: #bd362f;
    box-shadow: 1px 0 5px rgba(189, 54, 47, 1);
}

.submit {
    margin-right: 15px;
}

.btn.btn-primary.formButton {
    font-weight: bold;
    border: 0;
    background-color: #bd362f;
}

.btn.btn-primary.formButton:hover {
    border: 0;
    background-color: white;
    color: #bd362f;
}

.form-check-input.formCheck:checked {
    background-color: #bd362f;
}

.form-check-input.formCheck:focus {
    box-shadow: none;
    border: 0px;
}

.rights {
    font-size: 14px;
}

.formSec {
    margin-left: 10px;
}

.commentsText {
    padding: 5px;
    background-color: white;
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
    border-radius: 5px;
}

#navbar2Row {
    display: none;
}

#navbar2Row {
    margin-bottom: 0;
    height: 100%;
}

.desktopRedStar {
    margin-bottom: 10px;
}

/*---------------------------------*/
/*   login */

#loginFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#loginFormContainerBox,
#signFormContainerBox {
    width: 400px;
    background: #f8f9fa;
    padding: 50px;
    border-radius: 15px;
}

#loginFormContainerBox {
    height: 350px;
}

#signFormContainerBox {
    height: 425px;
}

#loginFormContainer>section>h1 {
    text-align: center;
}

.btn.btn-primary.login {
    margin-top: 20px;
    width: 100%;
    background-color: #bd362f;
    border-radius: 10px;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.btn.btn-primary.login::before {
    content: '';
    width: 0;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ed1c24 0%, #ed1c24 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn.btn-primary.login:hover::before {
    width: 100%;
}

#loginForm {
    flex-flow: column;
    align-items: center;
}

#loginForm>.form-group {
    width: 100%;
}

#loginForm>.form-group:first-child {
    margin-bottom: 10px;
}

#loginLink {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#loginLink>a {
    color: #bd362f;
    text-decoration: none;
}

#loginLink>a:hover {
    color: #ed1c24;
}

/* --searchBar-- */
#searchForm {
    width: 100%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

#logoContainer {
    margin-right: 0px;
}

.selectedNavDesktop {
    color: #bd362f;
}

.input-group.mb-3.commentInput {
    margin-left: 0;
}

#commentInputMobile {
    border-radius: 5px;
}

.ClappImage {
    background: url(../images/clapping-hands.png);
    height: 25px;
    width: 25px;
    margin-left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}


@media(max-width:1200px) {
    .projectImages {
        width: 450px;
        height: 350px;
    }

    .col {
        margin-bottom: 50px;
    }

}

@media(max-width:992px) {


    .breadCrumbsNoneSideBar,
    .breadCrumbs {
        display: none;
    }

    .indexViewButton,
    .addProjectButton,
    .editButton,
    .deleteProjectButton,
    .allProjectButton {
        display: block;
    }

    form {
        display: block;
    }

    #navbar2Row {
        display: flex;
    }

    .formTitle {
        padding: 0;
        margin-left: 10px;
        margin-top: 20px;
    }

    .formContainer {
        padding: 10px 10px 10px 10px;
    }

    .leftSide {
        width: 100%;
    }

    .rightSide {
        display: none;
    }

    .projectImages {
        width: 250px;
        height: 200px;
    }

    .mobileHeader {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .navbar-collapse {
        background-color: #f8f9fa;
    }

    #searchFormMobile {
        display: flex;
        justify-content: center;
    }

    #searchBar1,
    #searchBar2 {
        width: 80%;
    }


    #desktopNav {
        display: none;
    }

    #mobileNav {
        display: flex;
        margin-left: 20px;
        font-size: 20px;
    }

    #addCommentDesktop {
        border: 0;
    }

    #selectedNav {
        color: #bd362f;
        border-bottom: 3px solid #bd362f;
    }

    #mobileNavContainer {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    #navbar {
        display: flex;
        width: 100%;
    }

    .sideBar {
        display: none;
    }

    .row.rowM {
        display: block;
    }

    .projectsBody {
        margin-left: 0px;
        padding-top: 50px;
    }



    .projectsBody {
        background-color: #f8f9fa;
    }

    #logoContainer,
    #logoExpanded {
        display: none;
    }

    .navbar-toggler {
        width: 80px;
        height: 60px;
        display: flex;

    }

    #humburger {
        border: none;
        padding: 10px;
    }

    .navbar-toggler>.navbar-toggler-icon {
        width: 100%;
        height: 100%;
    }

    #navbar2Row {
        margin-bottom: 0;
        height: 100%;
    }

    .projectBox {
        color: #bd362f;
        border-bottom: 4px solid #bd362f;
    }

    #colNavbar1,
    #colNavbar2,
    #colNavbar3 {
        margin-bottom: 0;
    }

    .ranProfileImage {
        width: 45px;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }


    #addCommentMobile {
        border: none;
    }

    .mobileHeader {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .navbar-collapse {
        background-color: #f8f9fa;
    }

    #searchBar1,
    #searchBar2 {
        width: 90%;
    }

    #desktopNav {
        display: none;
    }

    #mobileNav {
        display: flex;
        margin-left: 20px;
        font-size: 20px;
    }

    .selectedNav {
        color: #bd362f;
        border-bottom: 3px solid #bd362f;


    }

    #mobileNavContainer {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    #navbar {
        display: flex;
        width: 100%;
    }

    .sideBar {
        display: none;
    }

    .projectsBody {
        margin-left: 0px;
        padding-top: 50px;
        background-color: #f8f9fa;
    }


    .fromSpan {
        font-size: 16px;
        width: 280px;
    }

    #logoContainer,
    #logoExpanded {
        display: none;
    }

    .navbar-toggler {
        width: 80px;
        height: 60px;
        display: flex;

    }

    #humburger {
        border: none;
        padding: 10px;
    }

    .navbar-toggler>.navbar-toggler-icon {
        width: 100%;
        height: 100%;
    }

    #navbar2 {
        display: flex;
        height: 60px;
        width: 100vw;
        background-color: #eeeeee;
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }

    .threeContainer {
        display: flex;
        align-items: center;
    }

    #starRow2 {
        margin-left: 12px;
    }

    #starRow3 {
        margin-left: 18px;
    }

    .threeText {
        font-size: 24px;
    }

    #navbarContainer {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    #navbar2Row {
        margin-bottom: 0;
        height: 100%;
    }



    #colNavbar1,
    #colNavbar2,
    #colNavbar3 {
        margin-bottom: 0;
    }

    .projectContainer {
        background-color: #eeeeee;
        padding: 40px 40px 40px 40px;
        border-radius: 12px;
        display: flex;
        align-items: center;
    }

    .ranProfileImage {
        width: 45px;
    }

    .mobileHeader {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .mobileBody {
        display: flex;
        height: 100vh;
        width: 100vw;
        padding-top: 80px;
        flex-flow: column;
        background-color: #f8f9fa;
    }

    .ProjectD {
        display: flex;
        border-radius: 10px;
        overflow: auto;
        min-height: 150px;
        max-height: 200px;
    }

    .projectDText {
        margin: 10px;
        height: 100%;
    }

    .starsListSec {
        display: flex;
        align-items: center;
    }

    .sideBar {
        display: none;
    }

    .body-con {
        display: none;
    }

    #logo {
        display: none;
    }

    .navbar-toggler {
        width: 80px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .navbar-toggler>.navbar-toggler-icon {
        width: 100%;
        height: 100%;
    }


    .MainTxtMobile {
        justify-content: center;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        height: 60px;
        display: flex;
        align-items: center;
        color: #555555;
    }

    .ProjectD {
        background-color: #eeeeee;
        width: 80%;
        margin-left: 10%;

    }

    span {
        font-size: 16px;
    }

    .Ad {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
    }

    #AdSection {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        height: 60%;
    }

    .ProjectRivew {
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: #555555;
        justify-content: center;
    }

    .dropdown.filesDropDown {
        width: 80%;
    }

    .btn.btn-secondary.dropdown-toggle.filesDropDown {
        background-color: #bd362f;
        border: none;
        width: 100%;
    }

    .dropdown-menu>li>a {
        display: flex;
        align-items: center;
    }

    .FileLogo {
        width: 75px;
        height: 75px;
    }

    .FileLogo2 {
        color: #555555;
        margin-bottom: 5px;
    }



    .Rating {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

    }


    .graybox {
        display: flex;
        margin-top: 40px;
        height: 120px;
        width: 100vw;
        background-color: #eeeeee;
        justify-content: center;
        align-items: center;
    }



    .PlayButtonImage {
        background: url(../images/Play-Button-PNG-Transparent-Image.png);
        height: 75px;
        width: 75px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0;
    }

    #mobileComments {
        display: none;
    }

    .mobileComments {
        display: flex;
        background-color: #eeeeee;
        margin: 20px;
        padding: 10px;
    }

    #mobileCommentsLeft {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        text-align: center;
    }

    #sendSubmit {
        position: absolute;
        right: 5px;
        top: 17px
    }

    #mobileCommentsRight {
        width: 80%;
        display: flex;
        align-items: center;
        position: relative;
    }

    #mobileCommentsRight>section {
        display: flex;
        width: 90%;
    }

    #mobileCommentsRight>section>section {
        display: flex;
        align-items: center;
    }


    .form-control.commentInput {
        height: 50px;
    }

    .GreyLine2 {
        display: flex;
        width: 238px;
        height: 2px;
        margin-left: 14px;
        color: #555555;
        background-color: #555555;

    }

    .ranProfileImage2 {
        height: 43px;
        width: 43px;
        vertical-align: middle;
        margin-top: 10px;
        margin-left: 5px;

    }

    .coomnets {

        display: flex;
        margin-top: 5px;
        margin-left: 13px;
        width: 238px;
        color: #555555;
        background-color: white;
    }

    .middle {
        margin: 0;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .middleRight {
        width: 50%;

    }

    .middleLeft {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;

    }

    .left {
        width: 50%;
        display: flex;
        align-items: center;
        flex-flow: column;
    }

    .right {

        width: 50%;
        display: flex;
        align-items: center;
        flex-flow: column;

    }

    .FontCm {
        color: black;

    }

    .redStar {
        width: 37px;
        margin-bottom: 10px;
    }

    .stars {
        width: 15px;
    }

    .body-con {
        display: flex;
    }

    .View-con {
        display: none;
    }

    .ratingTitle {
        display: flex;
        align-items: center;
    }

    .starsList {
        display: flex;
        align-items: center;
    }

    .comments {
        display: inline;
    }

    .commentSec {
        display: flex;
        align-items: center;
    }

    #commentSecList {
        width: 100%;
        padding-right: 32px;
    }

    .comment {
        align-items: center;
    }

    .ClappImage {
        height: 65%;
        display: flex;
        flex-flow: column;
        margin-right: 10px;
        width: 25px;
        align-items: center;
    }

}

li {
    display: flex;
}

li>a {
    display: flex;
    align-items: center;
}

#logo,
#logoExpanded,
#login {
    background: url(../images/logo.png);
    width: 209px;
    height: 49px;
    background-size: contain;
    background-repeat: no-repeat;
}

#login {
    display: block;
}


#shenkarLogoImage {
    background: url(../images/Shenkar.png);
    width: 137px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
}

#notificationImage {
    background: url(../images/notification.png);
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}

#settingsImage {
    background: url(../images/settings.png);
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}

.viewImage,
.viewImageList {
    background: url(../images/eye.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.allProjects {
    background: url(../images/allProjects.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 77px;
}

.addImage {
    background: url(../images/plus.png);
    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
}

.editImage {
    background: url(../images/edit.png);
    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
}

.favImage {
    background: url(../images/star.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.deleteImage {
    background: url(../images/trash.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.successImage {
    background: url(../images/check.png);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
}

.recImage {
    background: url(../images/recent.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.logout {
    background: url(../images/logout.png);
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 102px;
}

#search1,
#search2 {
    background: url(../images/Search.png);
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}

#sortIconImageMobile,
#sortIconImageDesktop {
    background: url(../images/sortSearch.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
}

#sortIconImageDesktopC,
#sortIconImageMobileC {
    background: url(../images/sortSearchComment.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.shareButtonImg {
    background: url(../images/share.png);
    width: 23px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
}

.FileLogo2 {
    background: url(../images/RedArrow.png);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.redStar {
    background: url(../images/Red_star.png);
    width: 37px;
    height: 37px;
    background-size: contain;
    background-repeat: no-repeat;
}

.stars {
    background: url(../images/Red_star.png);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.stars2 {
    background: url(../images/star.png);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.PlayButtonImage {
    background: url(../images/Play-Button-PNG-Transparent-Image.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.FileLogo,
.FileLogoSmall,
.FileLogoSrs {
    background: url(../images/REEDfile.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.SortImage {
    background: url(../images/sortSearch.png);
    height: 23px;
    width: 23px;
    margin-left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

#GrayArrow {
    background: url(../images/GrayArrow.png);
    height: 23px;
    width: 23px;
    margin-left: 10px;
    background-size: contain;
    background-repeat: no-repeat;

}

#coomentSection {
    height: 100%;
    width: 80%;
    margin-bottom: 30px;
    background-color: #eeeeee;
    display: none;
}

.CommentName {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 15%;
}

.comment {
    width: 100%;
    display: flex;
    background-color: #eeeeee;
    margin-bottom: 10px;
    flex-flow: row;
}

.coomentWhiteBox {
    width: 80%;
    margin-left: 10px;

}

#sendIcon {
    background: url(../images/Send.png);
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;

}