* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

header,
main,
footer,
nav,
aside,
section {
    display: block;
}

body {
    width: 100%;
}

li>a {
    color: #555555;
    text-decoration: none;
}

#navbar2{
    display: none;
}

/*---------------------------------------------*/
/* header */

button {
    border: 0px;
}

#headerContainer {
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
}

nav {
    height: 80px;
}

#navContainer {
    display: flex;
    height: 100%;
    align-items: center;
}

#logo {
    width: 213px;
}

#shenkarLogoImage {
    width: 137px;
    margin-left: 100px;
}

#rightHeaderLinks {
    display: flex;
    position: absolute;
    right: 23px;
}

#ranProfile,
#shenkarLogo,
#notification,
#settings,
#ranProfile {
    display: flex;
    align-items: center;
}

#ranProfile {
    margin-left: 6px;
}

#notification {
    margin-left: 10px;
}

#notificationImage {
    width: 35px;
}

#settingsImage {
    width: 35px;
}

#ranProfileImage {
    width: 35px;
}

/*---------------------------------------------*/
/* side */

#sideBar {
    margin-top: 80px;
    height: 100vh;
    width: 209px;
    background-color: #f8f9fa;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
}

li {
    margin-bottom: 10px;
    color: #555555;
    font-size: 14px;
}

.triangle-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.triangle-list li::before {
    content: "▶";
    display: inline-block;
    width: 0.7em;
    height: 0.6em;
    margin-right: 0.5em;
    font-size: 0.8em;
    color: #bd362f;
}

#viewImage,
#addImage,
#editImage 
{
    width: 15px;
}

#viewImage {
    margin-left: 10px;
}

#addImage {
    margin-left: 14px;
}

#editImage {
    margin-left: 75px;
}

#favImage {
    margin-left: 89px;
    width: 18px;
}

#recImage {
    margin-left: 104px;
    width: 18px;
}

#underLineChoise {
    width: 190px;
    height: 2px;
    background-color: #555555;
}
#LeftSide{
    position: absolute;
    height: 755px;
    width: 520px;
    left: 300px;
    top: 104px;

}
#RightSide{
    position: absolute;
    height: 755px;
    width: 520px;
    left: 1100px;
    top: 120px;

}
#RedLine{
    width: 388px;
    height: 5px;
    color: #bd362f;
    background-color:#bd362f ;
}
#GreyLine{
    width: 388px;
    height: 2px;
    margin-left: 14px;
    color:#555555;
    background-color:#555555 ;
}
#WhiteBox
{
    width: 521px;
    height: 200px;
    background-color: #f0e9e9;


}
#requirements
{
    height: 17px;
    width: 349px;

}
#Srs
{
    position: absolute;
    left: 320px;
    top: 400px;


}
#Example
{
    width: 500px;
    height: 200px;

}
#Eyes {
    position: absolute;
    height: 180px;
    width: 50px;
    left: 300px;
}

#Eyes img {
    margin-top: 8.5px;
}
#bottomLefSide{
    width: 500px;
    height: 100px;
    align-items: center;
    margin-top: 10px;
}

.dots::after
{
    content: "...........................................";
    margin-left: 10px;
}
#ranProfileImage2
{
    height: 43px;
    width: 43px;
    vertical-align: middle;

}
#SortImage
{
    height: 23px;
    width: 23px;
    vertical-align: middle;

}
#Txt{
    position: absolute;
    left: 40px;
    top: 640px;
    
}
#comments{
    height: 30px;
    width: 300px;
    margin-left: 12px;
}

#PlayBuotunIMage{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 316px;
    left: 288px;
}
#FileLogo
{
    position: absolute;
    height: 20px;
    width: 20px;
    margin-top: 3px;
}
#star
{
    height:37px;
    width: 37px;
}
#FileLogo2
{
    position: absolute;
    height: 14px;
    width: 14px;
    margin-top: 3px;
}
#share {
    position: absolute;
    width: 70px;
    height: 35px;
    left: 400px;
    top: 23px;
    background-color: #bd362f;
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
  }
  
#Rating
{
    margin-top: 40px;
    width: 234px;
    height: 66px;

}
#stars
{
    height:15px;
    width: 15px;

    
}
#StarCn1
{
    position: absolute;
    height: 18px;
    width: 116px;
    left: 110px;
    top: 75px;

}
#StarCn2
{
    position: absolute;
    height: 18px;
    width: 116px;
    left: 110px;
    top: 100px;

}
#StarCn3
{
    position: absolute;
    height: 18px;
    width: 116px;
    left: 110px;
    top: 125px;

}
#ProjrctImage
{
    width: 230px;
    height: 206px;
    margin-top: 50px;


}
#bottomRightSide
{
    position: absolute;
    height: 100px;
    width: 397px;
    margin-top: 65px;

}
#RedlineRigthSide{
    height: 5px;
    width: 290px;
    background-color: #bd362f;
}
#RedDot
{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #bd362f;
    border-radius: 10px;

}
@media(max-width:767px) {
    #sideBar{
        display: none;
    }

    #projectsBody{
        background-color: #f8f9fa;
    }

    #logo{
        display: none;
    }

    .navbar-toggler{
        width: 80px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #humburger{
        border:none;
    }

    .navbar-toggler>.navbar-toggler-icon{
        width: 100%;
        height: 100%;
    }

    #navbar2{
        display: block;
        height: 60px;
        width: 100vw;
        background-color: #eeeeee;
    }
}
