* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

header,
main,
footer,
nav,
aside,
section {
    display: block;
}

body {
    width: 100%;
   
}

li>a {
    color: #555555;
    text-decoration: none;
}

#navbar2 {
    display: none;
}

.mobileHeader {
    display: none
}

#mobileNav {
    display: none;
}

#body-con {
    width: 100vw;
    height: 100vh;
}

/*---------------------------------------------*/
/* header */

button {
    border: 0px;
}

#searchText {
    font-size: 14px;
    color: #777777;
    margin-left: 20px;
    font-weight: 100;
}

#headerContainer {
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
}

nav {
    height: 80px;
}

#navContainer {
    display: flex;
    height: 100%;
    align-items: center;
}

#logo,
#logoExpanded {
    width: 213px;
}

#logoExpanded {

    display: none;
}

#searchBar {
    margin-left: 130px;
    display: flex;
}

#leftSearchBar {
    width: 294px;
    height: 32px;
    background-color: #eeeeee;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    align-items: center;
}

.btn.btn-outline-secondary {
    border-color: #dee2e6;
}

.btn.btn-outline-secondary:hover {
    background-color: #bd362f;
    border: 0px
}

#inputSearch:focus {
    border-color: #dee2e6;
    box-shadow: none;
}

#search {
    width: 15px;
    margin-left: 3px;
}


#sortIconImage {
    width: 30px;
}

#shenkarLogoImage {
    width: 137px;
    margin-left: 100px;
}

#rightHeaderLinks {
    display: flex;
    right: 23px;
}

#ranProfile,
#shenkarLogo,
#notification,
#settings,
#ranProfile {
    display: flex;
    align-items: center;
}

#ranProfile {
    margin-left: 6px;
}

#notification {
    margin-left: 10px;
}

#notificationImage {
    width: 35px;
}

#settingsImage {
    width: 35px;
}

#ranProfileImage {
    width: 35px;
}

.projectContainer {
    display: flex;
    flex-flow: column;
}

#desktopNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*---------------------------------------------*/
/* side */

#sideBar {
    margin-top: 80px;
    height: 100vh;
    width: 209px;
    background-color: #f8f9fa;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
}

li {
    margin-bottom: 10px;
    color: #555555;
    font-size: 14px;
}

.triangle-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.triangle-list li::before {
    content: "▶";
    display: inline-block;
    width: 0.7em;
    height: 0.6em;
    margin-right: 0.5em;
    font-size: 0.8em;
    color: #bd362f;
}

#viewImage,
#addImage,
#editImage {
    width: 15px;
}

#viewImage {
    margin-left: 10px;
}

#addImage {
    margin-left: 14px;
}

#editImage {
    margin-left: 75px;
}

#favImage {
    margin-left: 89px;
    width: 18px;
}

#recImage {
    margin-left: 104px;
    width: 18px;
}

#underLineChoise {
    width: 190px;
    height: 2px;
    background-color: #555555;
}

/*---------------------------------------------*/
/* gridBody */

#body-con {
    display: flex;
    flex-flow: row;
}

#projectsBody {
    margin-left: 209px;
    margin-top: 80px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
}

#gridBody {
    margin-top: 80px;
}

.row {
    margin-bottom: 70px;
}

.projectImages {
    width: 250px;
    border-radius: 5px;
}

.projectName {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #555555;

}
#ProjectRivew
{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #555555;

}
#ProjectRivew2
{
   display: none;

}

span {
    font-weight: bold;
    color: #555555;
    font-size: 14px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underlineProject {
    justify-self: center;
    width: 250px;
    height: 2.5px;
    background-color: #555555;
}

#LeftSide {
    height: 755px;
    width: 50%;

    /* left: 300px;
    top: 104px; */

}

#RightSide {
    height: 755px;
    width: 50%;
    margin-left: 200px;
    /* left: 1100px;
    top: 120px; */

}

#RedLine {
    width: 463px;
    height: 5px;
    color: #bd362f;
    background-color: #bd362f;
}

#GreyLine {
    width: 388px;
    height: 2px;
    margin-left: 14px;
    color: #555555;
    background-color: #555555;
}

#WhiteBox {
    width: 521px;
    height: 200px;
    background-color: white
}

#requirements 
{
    display: flex;
    align-items: center;
    flex-flow: row;
    max-height: fit-content;
    margin-top: 10px;
    gap: 10px;
}



#Example {
    display: flex;
    flex-flow: row;

}
#Example>ul
{
    padding: 0px;
    margin: 0px;
    
}
#Example>ul>li 
{
    display: flex;
    flex-flow: row;
}

#Eyes {
    height: 180px;
    width: 50px;
}

#Eyes img {
    margin-top: 8.5px;
}

#bottomLefSide {
    width: 500px;
    height: 100px;
    align-items: center;
    margin-top: 10px;
}

.dots::after {
    content: "...........................................";
    margin-left: 13px;
}

#ranProfileImage2 {
    height: 43px;
    width: 43px;
    vertical-align: middle;

}

#SortImage {
    height: 23px;
    width: 23px;
    vertical-align: middle;

}

#Txt 
{
    display: flex;
    flex-flow: column;

}

#comments {
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: -40px;
}

#PlayBuotunIMage {
    height: 30px;
    width: 30px;
    top: 316px;
    left: 288px;
}

#FileLogo {
    height: 20px;
    width: 20px;

}

#star {
    margin-left: 5px;
    height: 37px;
    width: 37px;
}

#FileLogo2 {
    height: 14px;
    width: 14px;
    margin-top: 3px;
}

#share {
    width: 70px;
    height: 35px;
    margin-left: 255px;
    margin-top: 10px;
    background-color: #bd362f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#Rating {
    width: 234px;
    height: 66px;
    color: #555555;

}

#stars {
    height: 15px;
    width: 15px;


}

#StarCn1 {
    height: 18px;
    width: 116px;
    margin-bottom: 10px;
    margin-top: -5px;
    
}

#StarCn2 {
    height: 18px;
    width: 116px;
    margin-bottom: 10px;
    margin-top: -5px;
   

}

#StarCn3 {
    height: 18px;
    width: 116px;
    margin-bottom: 10px;
    margin-top: -5px;

}

#ProjrctImage {
    width: 290px;
    height: 206px;
    margin-top: 65px;


}

#bottomRightSide {
    height: 100px;
    width: 397px;
    margin-top: 65px;

}

#RedlineRigthSide {
    height: 5px;
    width: 290px;
    background-color: #bd362f;
}

#RedDot {
    width: 10px;
    height: 10px;
    background-color: #bd362f;
    border-radius: 10px;
    margin-top: 5px;

}

#participant1 {
    height: 32px;
    width: 204px;
    margin-top: 10px;
    color: #555555;
    display: flex;
    flex-flow: row;
    
}

#participant2 {
    height: 32px;
    width: 204px;
    margin-top: 5px;
    color: #555555;
    display: flex;
    flex-flow: row;
    

}
#number
{
    font-size: 30px;
    margin-bottom: 5px;
    position: absolute;
}

#firstname {
    height: 10px;
    width: 10px;
    margin-left: 15px;
    margin-top: 2.5px;
}

#View-con{
    display: flex;
    margin-left: 259px;
    margin-top: 120px;
    height:fit-content;
    width: 100%;
    background-color:#eeeeee;
}

#ProjectNameTitle
{
    display: flex;
    margin: 0px;
    color: #555555;
}
#body-con {
    background-color: #eeeeee;
    width: 100%;
}

#ProjectD {
    display: none;
  }
#share2
{
    display: none;

}
#GreyLine2{
    display: none;
}

#coomnets
{
    display: none;
        
}
#middle{
    margin-left: 10%;
    align-items: center;
    justify-content: center;
}
#mobileBody{
    display: none;
}
@media(max-width:767px) 
{
    #mobileBody{
        display: contents;
    }
    #ProjectD
    {
       display: flex;
    }
    #sideBar 
    {
        display: none;
    }

    #body-con {
        display:none;
    }

    #projectsBody 
    {
        background-color: #f8f9fa;
    }

    #logo {
        display: none;
    }

    .navbar-toggler {
        width: 80px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #humburger {
        border: none;
    }

    .navbar-toggler>.navbar-toggler-icon {
        width: 100%;
        height: 100%;
    }

    #navbar2 {
        display: flex;
        height: 60px;
        width: 100vw;
        justify-content: center;
        align-items: center;
        background-color: #eeeeee;
        overflow: auto;
    }
    #MainTxtMobile
    {
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        color: #555555;    
    }
    #ProjectD
    {
        background-color:#eeeeee;
        width: 80%;
        margin-left: 10%;

    }
    #Ad
    {
        color: #555555;
        border: 1px solid gray;
        width: 50%;
        margin-left: 5px;
        margin-top: 10px;
        border-radius: 5%;
    }
    #share {
        width: 70px;
        height: 35px;
        margin-left: 255px;
        margin-top: 10px;
        background-color: #bd362f;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    #ProjectRivew
    {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    }

    #FileLogo2
    {
        color: #565555;
        margin-bottom: 5px;

    }
    #share2{
        width: 80px;
        height: 35px;
        background-color: #bd362f;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #eeeeee;
        margin-top: 5px;
        margin-left: 5px;
    }
    #Rating
    {
        margin-left: 140px;
        margin-top: -30px;
    }
    #StarCn1 {
        height: 18px;
        width: 116px;
        margin-left: 110px;
        margin-top: -25px;
        
    }
    #StarCn2 {
        height: 18px;
        width: 116px;
        margin-left: 110px;
        margin-top: -25px;
       
    
    }
    
    #StarCn3 {
        height: 18px;
        width: 116px;
        margin-left: 110px;
        margin-top: -25px;
    
    }
    #graybox
    {
        margin-top: 100px;
        height: 120px;
        width: 500px;
        background-color: #eeeeee;
        justify-content: center;

    }
    #PlayBuotunIMage
    {
        height: 75px;
        width: 75px;
        margin-left: 25px;

    }
    #FileLogo
    {
        height: 75px;
        width: 75px;
        

    }
    #ProjectRivew2
    {
        display: contents;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: #555555;
    }
    #bottomLefSide{

        background-color: #eeeeee;
        width: 80%;
        margin-left: 10%;
        border-radius: 20px;
        margin-top: 20px;
       
    }
    #GreyLine2
    {
        display: flex;
        width: 238px;
        height: 2px;
        margin-left: 14px;
        color: #555555;
        background-color: #555555;

    }
    #ranProfileImage2 {
        height: 43px;
        width: 43px;
        vertical-align: middle;
        margin-top:10px;
        margin-left: 5px;
    
    }
    #coomnets
    {
       
        display: flex;
        margin-top: 5px;
        margin-left: 13px;
        width: 238px;
        background-color: white;
    }
    #middle{
        display: contents;
        margin-left: 10%;
        align-items: center;
        justify-content: center;
        
    }
    #middleRight
    {
        margin-left:18%;

    }
    #middleLeft
    {
        margin-left:9%;

    }
    #left
    {
       
        width: 250px;
        margin-left: 10px;
        justify-content: center;
        text-align: center;
        
        
    } 
    #right
    {
        
        width: 250px;
        margin-left: 220px;
        margin-top: -101px;
        justify-content: center;
        text-align: center;

    }
}
